#!/usr/bin/make -f
#
# rules
#
# See dh(1) and debhelper(7)
#

# default debhelper rule
%:
	dh $@ --no-start

override_dh_auto_configure:
	dh_auto_configure -- --without-doxygen --without-html --with-openssl --without-mbedtls --with-pam --disable-gui --disable-testing --disable-install-config --disable-install-pam

override_dh_installinit:
	cp bin/emailrelay debian/emailrelay.init
	dh_installinit --name=emailrelay

override_dh_installsystemd:
	cp etc/emailrelay.service debian/emailrelay.service
	dh_installsystemd --name=emailrelay

override_dh_installpam:
	cp etc/emailrelay.pam debian/emailrelay.pam
	dh_installpam --name=emailrelay
