Makefile
Makefile.in
/configure
/configure~
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/src/gconfig_defs.h
/src/gconfig_defs.h.in
/src/stamp-h1
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp
*.o
*.a
*.exe
*.auth
*.tar.gz
/bin/emailrelay
/bin/emailrelay-notify.sh
/bin/emailrelay-resubmit.sh
/bin/emailrelay-submit.sh
/doc/.dox
/doc/doxygen.cfg
/doc/doxygen.out
/doc/doxygen/
/doc/website/
/doc/sphinx/
/doc/RELEASE.md
/doc/index.md
/doc/emailrelay-man.html
/etc/emailrelay
/etc/emailrelay.auth
/etc/emailrelay.conf
/etc/emailrelay.service
/src/gssl/empty.cpp
/src/gui/emailrelay-gui.real
/src/gui/moc_guidialog.cpp
/src/gui/moc_guipage.cpp
/src/gui/moc_guipages.cpp
/src/main/emailrelay
/src/main/emailrelay-keygen
/src/main/emailrelay-passwd
/src/main/emailrelay-submit
/test/*.log
/test/*.test
/test/*.trs
/test/.tmp.port
/test/emailrelay_test_client
/test/emailrelay_test_dnsserver
/test/emailrelay_test_scanner
/test/emailrelay_test_server
/test/emailrelay_test_verifier
/winbuild.cfg
/winbuild.ok
/winbuild-*.bat
CMakeLists.txt
/README
